.text-content {
  font-size: 1.5rem !important;
  display: flex;
  flex: 3;
  margin-left: 330px;
  margin-top: 25px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.answer {
  font-size: 1.5rem !important;
}

.flex {
  display: flex;
  justify-content: flex-end;
}
